.plans-container{
    margin-top: -4rem;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    position: relative;
}

.plans{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.plan{
    display: flex;
    flex-direction: column;
    background: var(--caloryCard);
    color: whitesmoke;
    gap: 2rem;
    padding: 2rem;
    width: 15.2rem;
}

.plan:nth-child(3){
    background: var(--planCard);
    transform: Scale(1.1);
}