.Footer-container{
    position: relative;
}
.Footer-container>hr{
    border: 1px solid var(--lightgray);
}

.social-links{
    padding: 1 rem 2 rem;
    display: flex;
    flex-direction:row;
    gap: 2.5rem;
    align-items: center;
    justify-content: center;
    height: 20rem;
}
.social-links>img{
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}