.Testimonials{
    display: flex;
    gap: 1rem;
    padding: 0 2rem;
}

.right-t{
    display: flex;
    flex: 1 1;
    gap: 2rem;
    flex-direction: column;
    text-transform: uppercase;
    color: whitesmoke;
}
.right-t>:nth-child(1){
    color: rgb(209, 179, 10);
    font-weight: bold;
}

.right-t>:nth-child(2),
.right-t>:nth-child(3){
    font-weight: bold;
    font-size: 3rem;
}

.right-t>:nth-child(4){
    text-transform: none;
    text-align: justify;
    letter-spacing: 2px;
    line-height: 40px;
}

.left-t{
    flex: 1;
    position: relative;
}