.Testimonials{
    display: flex;
    gap: 1rem;
    padding: 0 2rem;
}

.right-t{
    display: flex;
    flex: 1 1;
    gap: 2rem;
    flex-direction: column;
    text-transform: uppercase;
    color: whitesmoke;
}
.right-t>:nth-child(1){
    color: rgb(209, 179, 10);
    font-weight: bold;
    text-align: center;
    font-size: 1.5rem;
}

.right-t>:nth-child(2),
.right-t>:nth-child(3){
    font-weight: bold;
    font-size: 3rem;
}

.right-t>:nth-child(4){
    text-transform: none;
    text-align: justify;
    letter-spacing: 2px;
    line-height: 40px;
}

.left-t{
    flex: 1;
    position: relative;
}

.left-t>img{
    position: absolute;
    width: 17rem;
    height: 20rem;
    object-fit: cover;
    left:8rem;
    top: 2rem;
}

.left-t>:nth-child(1){
    position: absolute;
    width: 17rem;
    height: 20rem;
    border: 2px solid rgb(164, 236, 29);
    background-color: transparent;
    left: 9rem;
    top: 0.9rem;
}

.left-t>:nth-child(2){
    position: absolute;
    width: 17rem;
    height: 19rem;
    left: 7rem;
    top: 4rem;
    background: var(--planCard);
}

.arrows{
    display: flex;
    gap: 1rem;
    position: absolute;
    bottom: 2rem;
    left: 28rem;
}

.arrows>img{
    width: 1.2rem;
    cursor: pointer;
}

@media screen and (max-width: 768px){
    
    .Testimonials{
        flex-direction: column;
    }

    .right-t>:nth-child(2),
    .right-t>:nth-child(3){
       font-size: xx-large;
}

     .left-t{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
     }

     .left-t>div{
        position: relative;
        display: none;
     }

     .left-t>img{
        top: 0;
        left: 0;
        position: relative;
        align-self: center;
     }

     .left-t>:last-child{
        display: block;
        bottom: 0;
        left: 0;
     }
}